/* Your responsive design styles for the 400px resolution go here */
@media only screen and (max-width: 400px) {
    body {
        padding: 0px;
    }

    header nav ul {
        padding: 0; 
        display: inline-block;
        text-align: left; 
    }

    header nav ul li {
        padding: 5px 20px;
        display: inline-block; 
        margin-bottom: 10px; 
    }

    .Introduction, .About{
        padding: 20px 0px; 
    }

    .image-1 {
        width: 90%;
    }

    .para-1 {
        padding: 0px 14px;
    }
    
    .head-future {
        padding: 0px 13px;
        font-size: 1rem;
    }

    .head-about, .head2-about {
        font-size: 1rem; 
    }

    .flexbox-container {
        flex-direction: column; 
        align-items: center;
    }

    .flexbox-container-1 {
        width: 90%;
    }

    .flexbox-container-2 {
        width: 80%;
    }

    .image-2 {
        width:90%;
    }

    .sign-up-box {
        width: 90%; 
        padding: 20px 5px 20px 5px; 
        border-radius: 15px;
    }

    input {
        margin: 0 auto;
        width: 80%; 
        padding: 5px; 
        font-size: 0.9rem; 
    }

    .first-btn {
        width: 50%; 
        padding: 5px; 
        font-size: 1rem; 
    }

   .sign-up-btn {
        margin-top: 7px;
        margin-bottom: 15px;
        padding: 5px;
        width: 80%;  
        font-size: 0.9rem; 
    }

    .form-para {
        font-size: 0.5rem;
        width: 80%; 
        padding-top: 5px; 
    }

    footer {
        font-size: 0.8rem;
        padding: 10px;
    }

}